* {
    margin: 0;
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body {
    background-color: #f2f2f2;
}

h1,
h2,
h3 {
    font-weight: bold;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

.text-main {
    font-size: 24px;
    color: black;
}



.phone {
    font-size: 0.8em;
}


header {
    background-color: #b7e76b;
}

.header {
    background-color: #b7e76b;
    height: 100%;
}

.bg-img {
    background-color: #b7e76b;
    background: url("/images/section1.png") no-repeat;
    background-size: 100%;
    height: 60vh;
    background-position: right bottom;
}

@media screen and (max-width: 400px) {
    .bg-img {
        background: unset !important;
    }
}
.donations {
    font-size: 20px;
}
.img-thumbnail {
    border: unset !important;
}
.title {
    color: black;
    font-size: 48px;
}

.lead {
    color: black;
}

.about p {
    font-size: 24px;
}

.about img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* TODO Изменить на зелёный */
.bg-green {
    background-color: #b7e76b;
}

/* Часто задаваемые вопросы клиентов */
.bubble {
    display: inline-block;
    position: relative;
}

.bubble>span {
    color: white;
    font-size: 24px;
    border-radius: 0.4em;
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.bubble::after {
    background-color: #ffffff;
    border-radius: 0 0 50% 0;
    border-right: 0;
    bottom: 14px;
    content: '';
    height: 30px;
    margin-top: -5px;
    margin-right: -5px;
    position: absolute;
    transform: rotate(10deg);
    width: 30px;
    z-index: -1;
}

.bubble::before {
    border-radius: 50%;
    border-right: 0;
    bottom: 7px;
    content: '';
    height: 30px;
    margin-top: -5px;
    margin-right: -5px;
    position: absolute;
    transform: rotate(20deg);
    width: 30px;
    z-index: -1;
}


.bubble-question>span {
    background-color: #a5a5a5;
}

.bubble-question::after {
    left: -21px;
}

.bubble-question::before {
    background-color: #a5a5a5;
    left: -11px;
}

.bubble-answer>span {
    background-color: #539DC4;
}

.bubble-answer::after {
    right: -21px;
}

.bubble-answer::before {
    background-color: #539DC4;
    right: -11px;
}

/* /Часто задаваемые вопросы клиентов */


.social:not(:first-child) {
    margin-left: 15px;
}

.social img {
    height: 2em;
    width: 2em;
}

.btn-contact {
    color: black;
    background-color: #b7e76b;
}

.contact-text {
    height: 100px !important;
}

.close {
    align-items: center;
    display: flex;
}

#wpcf7-f55-o2 {
    display: none;
}

.screen-reader-response {
    color: rgb(92, 25, 25);
}

.screen-reader-response ul {
    display: none;
}

label {
    margin: 0;
}